@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}


.footer {
  @apply relative bg-primary text-white text-center;
  padding: 50px 20px 20px;
  margin-top: 80px; 
}

/* Back to Top Button */
.back-to-top {
  @apply absolute top-[-60px] left-1/2 transform -translate-x-1/2 w-[180px] h-[90px] bg-primary flex items-center justify-center cursor-pointer z-10;
  border-radius: 120px 120px 0 0;
}

/* Arrow Icon */
.arrow-icon {
  @apply w-12 h-12; 
}

/* Footer Content */
.footer-content {
  @apply mt-16; /* Holder avstanden til innholdet internt i footeren */
}

.footer-content p {
  @apply text-sm;
}

.footer-content .email-link {
  @apply text-sm block mt-1 text-white;
  text-decoration: none;
}

.footer-content .email-link:hover {
  @apply underline;
}